#menuProfissionais{
    margin-top: 5vh;
    left: 20vw;
    position: relative;
  }
  
  #inicio{
    width: 10vw;
  }
  
  #termino{
    margin-left: 5vw;
    width: 10vw;
  }
  
  #tabH{
    margin-top: 10vh;
    margin-left: 30vh;
    width: 70vw;
  }
  
  .desabilitado {
    background: #eee;
  }
  
  #txtAtualizacao{
    margin-top: 8vh;
    font-size: 130%;
  }
  
  .edit{
    margin-right: 20vw;
  }
  #profissional{
    margin-left: 3vw;
    float: left;
    font-size: 100%;
    margin-top: 0vh;
  }