<form>
  <div class="row">
    <div class="col l12">
      <ul class="tabs" id="menuProfissionais">
        <li class="tab col 3"><a href="#clinicoo">Clínico Geral</a></li>
        <li class="tab col 3"><a href="#test1">Dentista</a></li>
        <li class="tab col 3"><a href="#test1">Enfermaria</a></li>
        <li class="tab col 3"><a href="#test1">Fisioterapeuta</a></li>
        <li class="tab col 3"><a href="#test1">Pediatria</a></li>
        <li class="tab col 3"><a href="#test1">Pscicologo</a></li>

      </ul>
    </div>

    <div class="col l12" id="tabH">
      <div class="row">
        <div class="col l12">
          <table>
            <thead>
              <tr>
                <th>Atendimento/dia</th>
                <th>Início</th>
                <th>Término
                </th>
              </tr>
            </thead>

            <tbody>
              <tr [class.desabilitado]="!horario.possuiAtendimento" *ngFor="let horario of horarios">
                <td>
                  <p>
                    <label>
                      <input name="check-{{horario.indice}}" type="checkbox" [(ngModel)]="horario.possuiAtendimento"/>
                      <input name="check-{{horario.dia}}" [(ngModel)]="horario.dia"/>{{horario.nome}}
                    </label>
                  </p>
                </td>
                <!-- <td>
                  <select [disabled]="!horario.possuiAtendimento" name="{{horario.indice}}"  [(ngModel)]="horario.inicio"
                  class="inicioSelect" onchange="inicioChange()" style="display: flex;">
                    <option value="">-</option>
                    <option class="optionInicio" *ngFor="let x of [8, 9, 10, 11, 12]" [value]="x">{{x}}</option>
                  </select>
                </td> -->
                <input placeholder="Início" name="check-{{horario.indice}}" id="inicio" type="number" class="validate"
          [(ngModel)]="horario.inicio">
                <input placeholder="Término" name="check-{{horario.indice}}" id="termino" type="number" class="validate"
          [(ngModel)]="horario.termino">
                <!-- <td>
                  <select style="display: flex;" class="terminoSelect" name="{{horario.indice}}" 
                   [(ngModel)]="horario.termino" onchange="terminoChange()">
                    <option value="">-</option>
                    <option *ngFor="let x of [8, 9, 10, 11, 12]" [value]="x">{{x}}</option>
                  </select>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
      <!-- <span>Segunda-feira</span>
      <div class="input-field col s4">
        
        
      </div>
      <span>Terça-feira</span>
      <div class="input-field col s4">
        <input placeholder="Início" id="first_name" type="text" class="validate">
        <input placeholder="Término" id="first_name" type="text" class="validate">
      </div>
      <span>Quarta-feira</span>
      <div class="input-field col s4">
        <input placeholder="Início" id="first_name" type="text" class="validate">
        <input placeholder="Término" id="first_name" type="text" class="validate">
      </div>
      <span>Quinta-feira</span>
      <div class="input-field col s4">
        <input placeholder="Início" id="first_name" type="text" class="validate">
        <input placeholder="Término" id="first_name" type="text" class="validate">
      </div>
      <span>Sexta-feira</span>
      <div class="input-field col s4">
        <input placeholder="Início" id="first_name" type="text" class="validate">
        <input placeholder="Término" id="first_name" type="text" class="validate">
      </div>
    </div>
  </div> -->
  <button type="submit" (click)="addHorario()"> Salvar horário </button>
</form>
<router-outlet></router-outlet>