#txtDados{
  margin-top: 5vh;
  margin-left: 20vw;
  font-size: 120%;
  }


  #divCad{
    margin-top: 0vh;
    text-align: center;
    left: 50vw;
    right: 50vw;
  }

  .labelCad1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin-top: 5vh;
    color: black;

  }

  .labelCad2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin-top: 1vh;
    margin-left: 1vw;
    color: black;

  }

  .inputCad1{
    width: 30vw!important;
    height: 3vh!important;
  }
  .inputCad2{
    width: 13.8vw!important;
    height: 3vh!important;
  }

.inputCad3{
  width: 21vw!important;
  height: 3vh!important;
}
.inputCad4{
  width: 24vw!important;
  height: 3vh!important;
}

  #divCadastro{
    margin-left: 30vw;
    text-align: unset;
  }
  #inputRua{
    width: 31.2vw!important;
    height: 2vh!important;
  }
  #inputSenha{
    width: 20vw!important;
    height: 2vh!important;
  }

  #inputDate{
    width:  9vw !important;
    height: 4vh !important;

  }

  #inputUF{
    width: 5vw;
    height: 2vh;
  }
  #telefone{
    width: 10vw!important;
    height: 3vh!important;
  }
  #button1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
      top,
      #0e808f 0%,
      #0e808f);
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#0e808f),
      to(#0e808f));
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #22a2b3;
    -moz-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
      0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.3);

    margin-left: 45vw;
    margin-top: 3vh;
    margin-bottom: 2vh;

  }
  #button2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
      top,
      #0e808f 0%,
      #0e808f);
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#0e808f),
      to(#0e808f));
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #22a2b3;
    -moz-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
      0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.3);

    margin-left: 1vw;
    margin-top: 3vh;
    margin-bottom: 2vh;

  }

  #button3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
      top,
      #0e808f 0%,
      #0e808f);
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#0e808f),
      to(#0e808f));
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #22a2b3;
    -moz-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
      0px 1px 3px rgba(9,154,179,0.5),
      inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
      0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.3);

    margin-left: 53vw;
    margin-top: 0vh;
    margin-bottom: 2vh;

  }

