.button-item :hover {
  cursor: pointer;
  background: rgba(0,0,0,0.05);
  border: #0e808f;
  width: 20vw;
  height: 6vh;
}


#txt1{
  font-size: 170%;
  margin-left: 3vw;
  }

  #opcBotoes{
   margin-right: 1vw;
  background-color: #0e808f;

  }
#divopcBotoes{
  margin-left: 60vw;
}

#txt2{
  font-size: 130%;
  margin-left: 8vw;
  margin-top: 10vh;
  }

.material-icons{
  height: 2vh;
  margin-right: 1.5vw;
  margin-left: 1vw;
}

.conteudo{
  margin-top: 8vh;
}

#controleConsultas1{
  width: 35vw;
  margin-top: 0vh;
  margin-left: 10vw;
  float: left;
}

#menulateral{
  position: relative;
  width: 30vw;
  float: left;
}

.collection-item{
  background: #0e808f!important;
  color: white!important;

}

#img{
  width: 2vw;
  height: 2,1vh;
  margin-right: 1.5vw;
  margin-top: 0.2vh;
  margin-left: 1vw;
}

.tabela{
  position: fixed !important;
  left: 50vw !important;
  width: 30vw;
  height: 50vh !important;
  overflow: scroll;
}

.tabelaAgendamento{
  height: 50vh;
  overflow: scroll;
}

.agend{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  margin-top: 5vh;
  color: black;

}

.busca{
  width: 20vw!important;
  margin-left: 8vw!important;
  height: 3vh!important;
}

table.highlight {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selecionado {
  background-color: #999;
}

.opcoes{
  width: 70vw!important;
  margin-left: 15vw;
}
