<p id="pHorario">Quadro de Horários</p>
<div id="tabelaH">
  <table class="responsive-table highlight">

    <thead>
      <tr>
        <th></th>
        <th>Clínico Geral</th>
        <th>Dentista</th>
        <th>Enfermaria</th>
        <th>Fisioterateupa</th>
        <th>Pediatra</th>
        <th>Piscólogo</th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dia of dias">
      <td>{{dia}}</td></tr>
      <tr *ngFor="let horario of horarios">
      <td>{{horario.inicio}}</td>

      

      


  
      </tr>
    </tbody>
  </table>

</div>
<a class="waves-effect waves-light btn" id="opcBotoes" href="/horario">Voltar</a>
<router-outlet></router-outlet>