#tabelaH{
    margin-left: 17vw;
    margin-top: 8vh;
    width: 65vw;
    height: 50vh !important;
    overflow: scroll;
}

#pHorario{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    margin-top: 8vh;
    margin-left: 40vw;
  }

  #opcBotoes{
    margin-left: 76vw;
    margin-top: 5vh;
    background-color: #0e808f;
    font-size: medium;
  }