<!--The content below is only a placeholder and can be replaced.-->
<!-- Dropdown Structure --> 

<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink=" ">Inicio</a></li>
  <li><a routerLink="/ajuda">Ajuda</a></li>
  <li class="divider"></li>
  <li><a routerLink=" ">Sair</a></li>
</ul>
 <nav *ngIf="exibirMenu">
    <div  id="menu"class="nav-wrapper">
      <a  class="brand-logo">MedTime</a>
      <img src="">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a *ngIf="exibirBotaoLogin" routerLink="/login">Login</a></li>
          <li><a *ngIf="exibirBotaoHistorico" routerLink="/historico">Meu Historico</a></li>
          <li><a *ngIf="exibirBotaoDados" routerLink="/meusDados">Meus Dados</a></li>
          <li><a *ngIf="exibirBotaoPerfil" routerLink="/perfil">Perfil</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
    </nav>

    
<router-outlet></router-outlet>
