<div id="divImg">
    <img id="imgLogin" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcLxN4sPGN4DqhATd35CpRXkpY6o8eYG5Bd6CaIRosqoz-f4Gx_w"/>
    <p id="pLogin">Login</p>
</div>

<div id="divLogin1">
<span class="spanLogin">CPF: <input id="input1" type="text" placeholder="000.000.000-00"/></span>
<p></p>
<span class="spanLogin">Senha: <input  id="input2" type="password"/></span>
</div>
<div id="divLogin2">
<button id="button" type="submit"><a routerLink="/perfil">Login</a></button>
<p></p>
<a id="link" href="cadastro" >Ainda não é cadastrado? Crie sua conta aqui</a>
</div>
<router-outlet></router-outlet>
