<form>
  <p>CLINICO</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste1(dia.value, nome.value)">Aalvar</button>

  </div>

  <p>DENTISTA</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste2(dia.value, nome.value)">Aalvar</button>

  </div>

  <p>ENFERMARIA</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste3(dia.value, nome.value)">Aalvar</button>

  </div>

  <p>FISIOTERAPIA</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste4(dia.value, nome.value)">Aalvar</button>

  </div>

  <p>PEDIATRIA</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste5(dia.value, nome.value)">Aalvar</button>

  </div>

  <p>PSICOLOGO</p>
  <div style="margin-left: 20vw; margin-top: 10vh;">
    <span class="spanCad1">Dia </span>
    <input class="inputCad1" type="text" placeholder="Dia" #dia/>
    <span class="spanCad1">CPF </span>
    <input class="inputCad1" type="text" placeholder="nome" #nome/>

    <button type="submit" (click)="teste6(dia.value, nome.value)">Aalvar</button>

  </div>
  
</form>
<router-outlet></router-outlet>