
<div class="cabeçalho" (mouseover)="alerta()" name="divPerfil">
  <h1 id="txtBemVindo">Pefil de {{pacienteLogado()}}</h1>
</div>
<div class="conteudo">
      <div id="menulateral">
          <p id="txtProfiss">Profissionais:</p>
      <ul class="collapsible" id="opcoesLateral">
          <li>
            <div class="collapsible-header"><a><img id="img" src="/assets/img/med.png"/></a>Clínico Geral</div>
            <div class="collapsible-body">
                <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Escolha o dia</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><a><img id="img" src="/assets/img/dente.png"/></a>Dentista</div>
            <div class="collapsible-body">
                <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Escolha o dia</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">local_hospital</i>Enfermaria</div>
            <div class="collapsible-body">
                <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Escolha o dia</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div>
            </div>
          </li>
          <li>
              <div class="collapsible-header"><i class="material-icons">accessibility</i>Fisioterapia</div>
              <div class="collapsible-body">
                  <div class="input-field col s12">
                      <select>
                        <option value="" disabled selected>Escolha o dia</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                      </select>
                    </div>
              </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">child_care</i>Pediatria</div>
                <div class="collapsible-body">
                  <div class="input-field col s12">
                    <select>
                      <option value="" disabled selected>Escolha o dia</option>
                      <option value="1">Option 1</option>
                      <option value="2">Option 2</option>
                      <option value="3">Option 3</option>
                    </select>
                  </div></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">people</i>Psicologo</div>
                  <div class="collapsible-body">
                      <div class="input-field col s12">
                          <select>
                            <option value="" disabled selected>Escolha o dia</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                        </div>
                  </div>
                </li>
        </ul>
</div>
<div id="conTabela">
    <p id="txtHorario">Horários:</p>
      <table class="responsive-table highlight"  id="tabela" >
          <thead>
            <tr>
                <tr>

                    <th>Profissional</th>
                    <th>Segunda-feira</th>
                    <th>Terça-feira</th>
                    <th>Quarta-feira</th>
                    <th>Quinta-feira</th>
                    <th>Sexta-feira</th>

                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let horario of horarios">
                  <td>{{horario.profissional}}</td>
                  <td>{{horario.segunda}}</td>
                  <td>{{horario.terca}}</td>
                  <td>{{horario.quarta}}</td>
                  <td>{{horario.quinta}}</td>
                  <td>{{horario.sexta}}</td>
            </tr>
          </tbody>
        </table></div>
  <div id="divAcess">
    <p id="txtAcess">Acessar:</p>
    <div  id="divopcBotoes">
        <a class="waves-effect waves-light btn" id="opcBotoes" href="/agendamento"><i class="material-icons left">list</i>Agendamento(s)</a>
        <a class="waves-effect waves-light btn" id="opcBotoes" href="/examePac"><i class="material-icons left">library_books</i>Exame(s)</a>
      </div>
  </div>
<router-outlet></router-outlet>

