
<div class="cabeçalho" (mouseover)="alerta()" name="divPerfil">
  <!--<h1 id="txtBemVindo">Pefil de {{pacienteLogado()}}</h1>-->
</div>
<div class="conteudo">
      <div id="menulateral">
          <p id="txtProfiss">Profissionais:</p>
      <ul class="collapsible" id="opcoesLateral">
          <li>
            <div class="collapsible-header"  (click)="listarC()"><a><img id="img" src="/assets/img/med.png"/></a>Clínico Geral</div>
            <div class="collapsible-body">
                <div class="input-field col s12">

               <select class="browser-default" (change)="filterChanged($event.target.value)">
                  <option value="" disabled selected>Escolha o dia de atendimento:</option>
                  <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                </select>
                    <button class="button" type="submit" (click) ="marcarClin()" >marcar</button>
                  </div>

            </div>
          </li>
          <li>
            <div class="collapsible-header" (click)="listarD()"><a><img id="img" src="/assets/img/dente.png"/></a>Dentista</div>
            <div class="collapsible-body">
                <div class="input-field col s12">

                  <select class="browser-default" (change)="filterChanged($event.target.value)">
                    <option value="" disabled selected>Escolha o dia de atendimento:</option>
                    <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                  </select>
                      <button type="submit" (click) ="marcarDen()">marcar</button>

                  </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header" (click)="listarE()"><i class="material-icons">local_hospital</i>Enfermaria</div>
            <div class="collapsible-body">
                <div class="input-field col s12">

                  <select class="browser-default" (change)="filterChanged($event.target.value)">
                    <option value="" disabled selected>Escolha o dia de atendimento:</option>
                    <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                  </select>
                      <button type="submit" (click) ="marcarEnf()">marcar</button>

                  </div>
            </div>
          </li>
          <li>
              <div class="collapsible-header" (click)="listarF()"><i class="material-icons">accessibility</i>Fisioterapia</div>
              <div class="collapsible-body">
                  <div class="input-field col s12">

                    <select class="browser-default" (change)="filterChanged($event.target.value)">
                      <option value="" disabled selected>Escolha o dia de atendimento:</option>
                      <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                    </select>
                        <button type="submit" (click) ="marcarFis()">marcar</button>

                    </div>
              </div>
            </li>
            <li>
                <div class="collapsible-header" (click)="listarP()"><i class="material-icons">child_care</i>Pediatria</div>
                <div class="collapsible-body">
                  <div class="input-field col s12">

                    <select class="browser-default" (change)="filterChanged($event.target.value)">
                      <option value="" disabled selected>Escolha o dia de atendimento:</option>
                      <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                    </select>
                        <button type="submit" (click) ="marcarPed()">marcar</button>

                  </div></div>
              </li>
              <li>
                  <div class="collapsible-header" (click)="listarPs()"><i class="material-icons">people</i>Psicologo</div>
                  <div class="collapsible-body">
                      <div class="input-field col s12">

                        <select class="browser-default" (change)="filterChanged($event.target.value)">
                          <option value="" disabled selected>Escolha o dia de atendimento:</option>
                          <option *ngFor="let horario of horarioCli" [value]="horario.dia" > {{horario.dia}}</option>
                        </select>
                            <button type="submit" (click) ="marcarPsi()" >marcar</button>

                        </div>
                  </div>
                </li>
        </ul>
</div>
<div id="conTabela">
    <p id="txtHorario">Horários:</p>
      <table class="responsive-table highlight"  id="tabela" >
          <thead>
            <tr>
                <tr>

                    <th>Profissional</th>
                    <th>Segunda-feira</th>
                    <th>Terça-feira</th>
                    <th>Quarta-feira</th>
                    <th>Quinta-feira</th>
                    <th>Sexta-feira</th>

                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let horario of horarios">
                  <td>{{horario.profissional}}</td>
                  <td>{{horario.segunda}}</td>
                  <td>{{horario.terca}}</td>
                  <td>{{horario.quarta}}</td>
                  <td>{{horario.quinta}}</td>
                  <td>{{horario.sexta}}</td>
            </tr>
          </tbody>
        </table></div>
  <div id="divAcess">
    <p id="txtAcess">Acessar:</p>
    <div  id="divopcBotoes">
        <a class="waves-effect waves-light btn" id="opcBotoes" href="/agendamento"><i class="material-icons left">list</i>Agendamento(s)</a>
        <a class="waves-effect waves-light btn" id="opcBotoes" href="/examePac"><i class="material-icons left">library_books</i>Exame(s)</a>
      </div>
  </div>
<router-outlet></router-outlet>

