 <form>
  <div id="divCad">
     <p id="pCad">Cadastre-se </p>
   </div>
   <div id="divCadastro">
     <label class="labelCad1">Nome: </label>
     <input class="inputCad1" id="inputNome" name="inputNome" type="text" placeholder="Nome completo" [(ngModel)]="paciente.nome"/>
     <p></p>
     <label class="labelCad1">RG: </label>
     <input class="inputCad2" id="inputRg" name="inputRg" type="text" placeholder="000.000.000" [(ngModel)]="paciente.rg"/>
     <label class="labelCad2">CPF: </label>
     <input class="inputCad2" id="inputCPF" name="inputCPF" type="text"placeholder="000.000.000-00" [(ngModel)]="paciente.cpf"/>
     <p></p>

     <label class="labelCad1">Número de prontuário: </label>
     <input class="inputCad3" id="inputProntuario" name="inputProntuario" type="text" placeholder="nº de prontuário" [(ngModel)]="paciente.nProntuario"/>
     <p></p>
     <label class="labelCad1">Número do SUS: </label>
     <input class="inputCad4" id="inputSUS" name="inputSUS" type="text" placeholder="nº do SUS" [(ngModel)]="paciente.nSUS"/>
     <p></p>

     <!--<label class="labelCad1">Data de Nasc: </label>
     <input id="inputDate" name="inputDate" type="date" [(ngModel)]="dataNascimento"/>-->
     <label class="labelCad2">Telefone: </label>
     <input class="inputCad2"  id="telefone" name="telefone" type="text"placeholder="(00)00000-0000" [(ngModel)]="paciente.telefone"/>
     <p></p>
     <label class="labelCad1">E-mail:</label>
     <input class="inputCad1" id="inputEmail" name="inputEmail" type="text"placeholder="text@text.com" [(ngModel)]="paciente.email"/>
     <p></p>
     <label class="labelCad1">Cidade: </label>
     <input class="inputCad2" id="inputCidade" name="inputCidade" type="text" placeholder="ex.: Garanhuns" [(ngModel)]="paciente.cidade"/>
     
     <label class="labelCad1">Bairro: </label>
     <input class="inputCad1" id="inputBairro" name="inputBairro" type="text"placeholder="ex.: Heliópolis" [(ngModel)]="paciente.bairro"/>
     <p></p>
     <label class="labelCad1">Rua: </label>
     <input class="inputCad1" id="inputRua" name="inputRua" type="text" placeholder="ex.: Epitácio Coimbra" [(ngModel)]="paciente.rua"/>
     <p></p>
     <label class="labelCad1">Senha: </label>
     <input class="inputCad2" id="inputSenha" name="inputSenha" type="password" [(ngModel)]="paciente.senha"/>
     <p></p>
     <label class="labelCad1">Confirmar Senha: </label>
     <input class="inputCad2" id="inputConfSenha" name="inputConfSenha" type="password" [(ngModel)]="paciente.confSenha"/>
   </div>
   <button id="button" type="submit" (click)="addPaciente()">Cadastrar</button>


</form>


<router-outlet></router-outlet>
<!--
<div class="col s12 select-div">
  <label>Usuário</label>
  <select name="usuario" [(ngModel)]="novoContato.uidUsuario">
    <option value="" disabled selected>Selecione o usuário</option>
    <option *ngFor="let usuario of usuarios" value="{{usuario.uid}}">{{usuario.nome}}</option>
  </select>
</div> -->
