#txtAtualizacao{
  margin-top: 8vh;
font-size: 130%;
}
.edit{
  margin-right: 10vw;
}
#profissional{
  margin-left: 3vw;
  float: left;
  font-size: 100%;
  margin-top: 0vh;
}
#calendario{
  width: 20vw !important;
  float: left;
}
#select{
  width: 26vw;
  float: left;
}
#select2{
  width: 10vw;
  float: left;
}
#profDent{
  margin-left: 3vw;
  float: left;
  font-size: 100%;
  margin-top: 0vh;
  margin-right: 2.8vw;
}
#pNatal{
  margin-left: 3vw;
  float: left;
  font-size: 100%;
  margin-top: 0vh;
  margin-right: 2.4vw;
}
#profEnfe{
  margin-left: 3vw;
  float: left;
  font-size: 100%;
  margin-top: 0vh;
  margin-right: 1.8vw;
}
#profPsi{ margin-left: 3vw;
  float: left;
  font-size: 100%;
  margin-top: 0vh;
  margin-right: 1.5vw;}
#tabela{
  font-size: 90%;
  width: 50vw;
  margin-left: 8vh;
}
#conTabela{
  margin-left: 3vw;
}
#txtHorario{
  font-size: 2vw;
}
.editaHoararios{
  margin-left: 3vw;
}
