 
#input1{
    width: 32%;
    height: 25px;
  
  }
  #input2{
  width: 30.3%;
  height: 25px;
  
  }
  .spanLogin{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  margin-top: 8%;
  margin-left: 35%;
  }
  
  #divImg{
  margin-top: 50px;
  text-align: center;
  left: 50%;
  right: 50%;
  }
  #pLogin{
  font-family: 'Times New Roman', Times, serif;
  font-size: 150%;
  }
  #button{
  margin-left: 58vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(
  top,
  #0e808f 0%,
  #0e808f);
  background: -webkit-gradient(
  linear, left top, left bottom,
  from(#0e808f),
  to(#0e808f));
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid #ffffff;
  -moz-box-shadow:
  0px 3px 11px rgba(000,000,000,0.5),
  inset 0px 0px 1px #dee5e6;
  -webkit-box-shadow:
  0px 3px 11px rgba(000,000,000,0.5),
  inset 0px 0px 1px #e8ecec;
  box-shadow:
  0px 3px 11px rgba(000,000,000,0.5),
  inset 0px 0px 1px #c2c9ca;
  text-shadow:
  0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.3);
  
  margin-bottom: 0vh;
  
  }
  #imgLogin{
  width: 5%;
  height: 3%;
  }
  #link{
  margin-left: 38%;
  margin-bottom: 100%;
  font-size: 80%;
  }

  #divLogin{
    position: relative;
    border: #0e808f;
  }
  
  #divTabela{
    position: relative;
  }

  #opcBotoes{
    margin-left: 65vw;
    margin-top: 15vh;
    background-color: #0e808f;
  }
  