#divExa{
  margin-left: 5vw;
}
#pFiltro{
  font-size: 2vw;
}
#dRadio{
  float: left;
}

.busca{
  width: 20vw!important;
  margin-left: 0vw!important;
  height: 3vh!important;
}

table.highlight {
  cursor: pointer;
}

.selecionado {
  background-color: #999;
}

#tabela3{
  width: 50vw;
}
