#divExa{
  margin-left: 5vw;
}

#divUpload{
  margin-top: 5vh;
  margin-left: 5vw;
}

#pFiltro{
  font-size: 2vw;
}

#pUpload{
  font-size: 2vw;
}

#inputUpload{
  text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

#inputFile{
  display: none;
}

#dRadio{
  float: left;
}

#exame{
  width: 85vw;
  margin-left: 8vw;
  margin-top: 5vh;
}

#opcBotoes{
  margin-left: 76vw;
  margin-top: 5vh;
  background-color: #0e808f;
}

.busca{
  width: 20vw!important;
  margin-left: 0vw!important;
  height: 3vh!important;
}

table.highlight {
  cursor: pointer;
}

.selecionado {
  background-color: #999;
}

#tabela3{
  width: 50vw;
}
