<div id="conteudo" id="tabelaPac">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">add</i>Novo Paciente</div>


          <div class="collapsible-body">
           <app-cadastro-paciente></app-cadastro-paciente>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Vizualizar Paciente</div>
          <div class="collapsible-body" style="display:block;overflow:auto;height: 50vh;">

  <div *ngIf="carregando" class="progress" id="tabelaListagem">
    <div class="indeterminate"></div>
  </div>

  <h6 *ngIf="!pacientes && !carregando">Não há  pacientes</h6>

  <div *ngIf="pacientes">

    <div id="dBusca">
      <span> Buscar por:</span>
      <input id="inputB" type="text" name="search" [(ngModel)]="term">
    </div>



                 <table class="responsive-table" class="highlight" id="tabela">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Nome</th>
                      <th>RG</th>
                      <th>CPF</th>
                      <th>Nº Prontuário</th>
                      <th>Nº SUS</th>
                      <th>Telefone</th>
                      <th>Email</th>
                      <th>Cidade</th>
                      <th>Bairro</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let paciente of pacientes | filter:term">
                     <td>
                      <form action="#">
                        <p>
                          <label>
                            <input (change)="funcDumb($event)" type="checkbox" name="checkboxs" value={{paciente.uid}}  />
                            <span></span>
                          </label>
                        </p>
                      </form></td>
                      <td>
                        <span>{{paciente.nome}}</span>

                      </td>

                      <td>
                          <span>{{paciente.rg}}</span>

                      </td>

                      <td>
                          <span>{{paciente.cpf}}</span>

                      </td>

                      <td>
                        <span>{{paciente.nProntuario}}</span>

                    </td>

                    <td>
                      <span>{{paciente.nSUS}}</span>

                  </td>

                     <td>
                          <span>{{paciente.telefone}}</span>

                      </td>

                      <td>
                          <span>{{paciente.email}}</span>

                      </td>

                      <td>
                          <span>{{paciente.cidade}}</span>

                      </td>

                      <td>
                          <span >{{paciente.bairro}}</span>
                      </td>


                      </tr>
              </tbody>
              </table>
    </div>
    <button id="button1" (click)="remover()">excluir</button>
  </div>







        </li>
        <!--<li>
            <div class="collapsible-header"><i class="material-icons">border_color</i>Editar</div>


            <div class="collapsible-body">

            </div>
          </li>

        -->
      </ul>

</div>
